# Ignore virtual environment
yt-env/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env
.venv

# Ignore VS Code settings (optional, if you don't want to track them)
.vscode/

# Ignore system files
.DS_Store
Thumbs.db


# Data Visualization
/venv 
Interface/backend/venv
/song_embeddings
/visualization_results
/visualization_maest_results
code/song_embeddings
code/visualization_results
code/visualization_maest_results